@font-face {
  font-family: "Sinkin Sans";
  src:
    url("/fonts/SinkinSans-300Light.woff2") format("woff2"),
    url("/fonts/SinkinSans-300Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sinkin Sans";
  src:
    url("/fonts/SinkinSans-400Regular.woff2") format("woff2"),
    url("/fonts/SinkinSans-400Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sinkin Sans";
  src:
    url("/fonts/SinkinSans-500Medium.woff2") format("woff2"),
    url("/fonts/SinkinSans-500Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sinkin Sans";
  src:
    url("/fonts/SinkinSans-600SemiBold.woff2") format("woff2"),
    url("/fonts/SinkinSans-600SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sinkin Sans";
  src:
    url("/fonts/SinkinSans-700Bold.woff2") format("woff2"),
    url("/fonts/SinkinSans-700Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
